html,
body {
  background-color: rgba(0, 64, 109, 0.8);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: inherit;
}

nav {
  min-height: 100px;
}

a {
  text-decoration: none;
  color: white;
  white-space: pre;
}

p {
  white-space: pre;
  /* Erlaubt mehrere Leerzeichen */
  color: white;
}

td {
  padding-right: 12px;
}

.content-area {
  float: left;
  width: 85%;
}

.main-container {
  min-height: 2000px;
}

footer {
  flex-shrink: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* Absolute Positionierung entfernt */
  margin-bottom: 0;
  /* Entfernt den unteren Randabstand */
}

footer a:hover {
  color: rgba(0, 150, 255, 0.8);
}

.kasten {
  margin-left: -7px;
  background-color: black;
  min-height: 200px;
  transform: skewY(-15deg) translateY(-255px);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu-schrift {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 40%;
  transform: rotate(-15deg) translateY(-100px);
  word-spacing: 10px;
  position: fixed;
  z-index: 100;
  margin-left: -10px;
  margin-top: 205px;
}

.main-menu {
  text-align: center;
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 20px;
}

.main-menu li {
  display: inline;
}

.main-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu a:hover {
  background-color: #575757;
  color: #fff;
  border-radius: 5px;
}

.ueberschrift {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 650px;
  height: 750px;
  margin-right: 300px;
  margin-top: -1000px;
  z-index: 10200;
}

.main-image-logo {
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 25px;
}

section.main-image {
  margin-top: -100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  transform: translateX(0px);
  background-color: #0e202f;
}

article {
  width: 400px;
  padding: 70px 0 0 0;
}

.menu-schrift li a {
  font-family: "Press Start 2P", Arial, system-ui;
  color: white;
  text-decoration: none;
}

.mask {
  background-repeat: no-repeat;
  background-image: url('images/kneipe.png');
  /* Stelle sicher, dass der Pfad zum Bild korrekt ist */
  background-size: cover;
  /* Bild soll den Container füllen */
  background-position: center;
  width: 100%;
  height: 100vh;
  /* Bild nimmt die gesamte Höhe des Viewports ein */
  margin-left: 0;
  margin-right: 0;
  object-fit: cover;
  /* Bild soll den Container füllen */
}

.dart {
  margin-top: 1000px;
  margin-left: -500px;
  z-index: 0;
}

.dart-text {
  font-size: 60px;
  margin-top: -600px;
  margin-left: 550px;
  background-color: #16344d;
  padding: 155px;
  margin-bottom: 0px;
}

.trail {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 150, 255, 0.8);
  box-shadow: 0 0 4px 4px rgba(0, 150, 255, 0.8);
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  opacity: 1;
  z-index: 101;
}

.trail-hidden {
  opacity: 0;
  visibility: hidden;
  /* Versteckt das Element nach dem Ausblenden */
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 101;
}

/* Klasse für den Explosionseffekt */
.explode {
  animation: explode 0.5s forwards;
  box-shadow: none;
  z-index: 101;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.seitenleiste {
  margin-top: 0px;
  float: right;
  width: 15%;
  background-color: #0e202f;
  padding: 20px;
  box-sizing: border-box;

  min-height: inherit;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
}

.seitenleiste-tabelle {
  margin-left: -10px;
}

.seitenleiste a:hover {
  color: rgba(0, 150, 255, 0.8);
}

.impressum {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 17px;
}

.oeffnungszeiten {
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: -50px;
}

.oeffnungszeiten a:hover {
  color: rgba(0, 150, 255, 0.8);
}

.events {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 2px;
}

li {
  list-style-type: none;
}

.kalender {
  margin-left: 350px;
  margin-top: 70px;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 1870px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}

.menu {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  display: none;
  margin-left: -150px;
}

.menu a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #333;
}

.menu-schrift a:hover {
  color: rgba(0, 150, 255, 0.8);
}

.Getränke {
  text-decoration: underline;
  color: rgba(0, 150, 255, 0.8);
}

.ersten-sonntag {
margin-right: 1000px;
margin-left: -80px;
font-size: 13px;
}

.highlight {
  font-weight: bold;
  text-decoration: underline;
}

.light-highlight {
  font-weight: bold;
}