html, body {
  background-color: #133450;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav {
    min-height: 10vh;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  flex-shrink: 0;
  background-color: #0e202f;
  color: white;
  text-align: center;
  padding: 1%;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
}

.burger,
.mobile-menu,
.bild-logo-mobile,
.logo {
  display: none;
}

.kasten {
  margin-left: -0.7%;
  background-color: #0e202f;
  min-height: 20vh;
  transform: skewY(-15deg) translateY(-25vh);
  z-index: 100;
  position: fixed;
  top: -1%;
  left: 0;
  width: 100%;
  position: absolute;
}

.menu-schrift {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    transform: rotate(-15deg) translateY(-10vh);
    word-spacing: 1%;
    position: fixed;
    z-index: 100;
    margin-left: -1%;
    margin-top: 21.5vh;
    position: absolute;
}

.menu-schrift a:hover, 
.seitenleiste a:hover {
  color: rgba(0, 150, 255, 0.8);
  text-shadow: 0 0 0.4rem rgba(0, 150, 255, 0.5), 0 0 0.8rem rgba(0, 150, 255, 0.4);
  transform: scale(3);
}

.menu-schrift a {
  font-family: "Press Start 2P", Arial, system-ui;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.seitenleiste a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.ueberschrift {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2.5rem;
  }

section {
  margin-top: -10vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
    background-color: #0e202f;
}

article {
    width: 40%;
    padding: 7vh 0 0 0;
}

.menu-schrift li a{
    font-family: "Press Start 2P", Arial, system-ui;
    color: white;
    text-decoration: none;
}

.bild1 {
    width: 60%;
    height: 80vh;
    transform: skewY(-15deg);
    
}

.bild-logo {
    background-repeat: no-repeat;
    background-image: none;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-left: auto;
}

.firstarticle {
  width: 50%;
}

.trail {
    position: absolute;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background: rgba(0, 150, 255, 0.8);
    box-shadow: 0 0 0.4rem 0.4rem rgba(0, 150, 255, 0.8);
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
    opacity: 1;
    z-index: 10000;
  }
  
  .trail-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    z-index: 101;
  }
  
  .explode {
    animation: explode 0.5s forwards;
    box-shadow: none;
    z-index: 101;
  }
  
  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }

  }
  .seitenleiste {
    margin-top: 0px;
    width: 237px;
    position: absolute;
    background-color:#0e202f;
    padding: 20px;
    right: 0;
    height: 1000%;
    font-family: "Roboto";
    color: white;
    text-decoration: none;
    z-index: 100;
    position: absolute;
  }
  .socialtext {
    margin-left: 45px;

  }
  .social-media-icons {
    display: flex;
    gap: 25px; 
    margin-top: 20px;
    margin-left: 20px;
}

.social-icon {
    margin-left: 0px;
    width: 50px; 
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
}
.social-media-icons a:hover .social-icon {
    transform: scale(0.6);
    box-shadow: 0 0 1rem rgba(0, 150, 255, 0.7); 
}

.impressum {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 25px;
}

.oeffnungszeiten {
  font-size: 35px;
  color: rgb(255, 255, 255); 
  text-decoration: none;
  margin-left: -45px;
}

.events {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}

.impressum a:hover, 
.oeffnungszeiten a:hover, 
.events a:hover {
  color: rgba(0, 150, 255, 0.8);
  text-shadow: 
    0 0 80px rgba(0, 150, 255, 0.2);   
    transition: text-shadow 0.3s ease, color 0.3s ease; 
}

.Montag-Sonntag {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: -10px;
  text-decoration: none;
}

.montag, .dienstag, .mittwoch, .donnerstag, .freitag, .samstag, .sonntag {
margin-left: -40px;
}

.montag {
  list-style-type: none;
  font-size: 17px;
}

.dienstag {
  list-style-type: none;
  font-size: 17px;
}

.mittwoch {
  list-style-type: none;
  font-size: 17px;
}

.donnerstag {
  list-style-type: none;
  font-size: 17px;
}

.freitag {
  list-style-type: none;
  font-size: 17px;
}

.samstag {
  list-style-type: none;
  font-size: 17px;
}

.sonntag {
  list-style-type: none;
  font-size: 17px;
}

li {
  list-style-type: none;
}
.kalender {
  margin-left: 35%;
  margin-top: 7vh;
}

.menu-icon {
  position: absolute;
  top: 2vh;
  left: 95%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5%;
}

.line {
  width: 3%;
  height: 0.4rem;
  background-color: white;
  transition: 0.3s;
}

.menu {
  position: absolute;
  top: 4vh;
  left: 1%;
  background-color: #f4f4f4;
  padding: 1%;
  border: 0.1rem solid #ddd;
  display: none;
  margin-left: -15%;
}

.menu a {
  display: block;
  margin: 0.5% 0;
  text-decoration: none;
  color: #333;
}

.menu-schrift a:hover {
color: rgba(0, 150, 255, 0.8);
}

.Getränke {
  text-decoration: underline;
  color: rgba(0, 150, 255, 0.8);
}
.facebooktext {
  text-decoration: none;
  color: white;
  margin-top: 20vh;
  font-size: 250%;
  margin-left: 78%;
}
.posts {
  margin-left: 68%;
  height: 500vh;
}

.posts2 {
  margin-left: 68%;
  margin-top: 50vh;
}